node_modules
package-lock.json
.DS_Store
NODEJS\Ejercicios\pruAprendizaje\Express-pr\node_modules

NODEJS\Ejercicios\pruAprendizaje\Express-pr\package-lock.json
NODEJS\Ejercicios\pruAprendizaje\Babel-pr\node_modules

NODEJS\Ejercicios\pruAprendizaje\Babel-pr\package-lock.json
TDD\testingWithJest\coverage
TDD\testingWithJest\node_modules

TDD\testingWithJest\package-lock.json
TDD\TestingWithMocha\node_modules

TDD\TestingWithMocha\package-lock.json
TDD\TestingWithTape\node_modules

TDD\TestingWithTape\package-lock.json
TDD\mock2\Mock\node_modules
TDD\mock2\Mock\package-lock.json

BDD\node_modules
BDD\package-lock.json

BDD\BDDejercicio\node_modules
BDD\BDDejercicio\package-lock.json

PruebasAutomatizadas\Selenium-code\node_modules
PruebasAutomatizadas\Selenium-code\package-lock.json

IBMcloud\CLOUDANT\Ejercicio1\node_modules
IBMcloud\CLOUDANT\Ejercicio1\package-lock.json

IBMcloud\CLOUDANT\CLOUDANT-example\node_modules
IBMcloud\CLOUDANT\CLOUDANT-example\package-lock.json

DYNAMO-DB\node_modules
DYNAMO-DB\package-lock.json